<form [formGroup]="loginForm" (ngSubmit)="doSubmit()">
<div>
<label for="fName">First name</label>
<input type="text" formControlName="fName">
</div>
<div>
  <label for="lName">last name</label>
  <input type="text" formControlName="lName">
  </div>
  <div>
    <label for="email" id="email">Email</label>
    <input type="email" formControlName="email">
    </div>
    <div>
      <label for="phone">Phone</label>
      <input type="number" formControlName="phone">
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Submit</button>
</form>

<router-outlet></router-outlet>